In [3]:

#Importando as bibliotecas
import pandas as pd

#Importando os dados:
df =pd.read_csv("http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv")

#Visualizando os cinco primeiros dados
df.head()

,user_gender,user_birthdate,user_residence,ride_date,time_start,time_end,station_start,station_end,ride_duration,ride_late
0,M,1971-06-08,NaN,2018-01-01,06:05:18,06:21:33,11 - Rodoviária 2,41 - Instituto de Artes,16.250000,0.0
1,M,1989-02-11,DF,2018-01-01,06:27:01,06:32:17,26 - Ministério da Saude,28 - CNMP - Conselho Nacional do Ministério Pú...,5.266667,0.0
2,M,1968-07-19,NaN,2018-01-01,06:29:33,06:44:57,11 - Rodoviária 2,43 - Biblioteca Central,15.400000,0.0
3,M,1991-12-19,NaN,2018-01-01,06:53:53,06:59:45,10 - Ministério dos Transportes,6 - Rodoviária,5.866667,0.0
4,M,1969-03-03,DF,2018-01-01,06:58:56,17:40:04,15 - Brasil 21,11 - Rodoviária 2,641.133333,1.0

In [6]:
#Identificando os valores ausentes:

#O isnull vai retornar todos os valores nulos e sum vai somar esses valores para cada coluna:
df.isnull().sum()

user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64

In [7]:
#Verificando qual a porcentagem de valores ausentes no nosso dataset:
df.isnull().sum()/df.shape[0]

user_gender       0.001378
user_birthdate    0.000003
user_residence    0.626144
ride_date         0.000000
time_start        0.000000
time_end          0.150650
station_start     0.000000
station_end       0.000000
ride_duration     0.254676
ride_late         0.254676
dtype: float64

In [8]:
#Excluindo os valores ausentes: 

df_row_dropna = df.dropna(subset=['user_gender'], axis = 0)

df_row_dropna.head()

,user_gender,user_birthdate,user_residence,ride_date,time_start,time_end,station_start,station_end,ride_duration,ride_late
0,M,1971-06-08,NaN,2018-01-01,06:05:18,06:21:33,11 - Rodoviária 2,41 - Instituto de Artes,16.250000,0.0
1,M,1989-02-11,DF,2018-01-01,06:27:01,06:32:17,26 - Ministério da Saude,28 - CNMP - Conselho Nacional do Ministério Pú...,5.266667,0.0
2,M,1968-07-19,NaN,2018-01-01,06:29:33,06:44:57,11 - Rodoviária 2,43 - Biblioteca Central,15.400000,0.0
3,M,1991-12-19,NaN,2018-01-01,06:53:53,06:59:45,10 - Ministério dos Transportes,6 - Rodoviária,5.866667,0.0
4,M,1969-03-03,DF,2018-01-01,06:58:56,17:40:04,15 - Brasil 21,11 - Rodoviária 2,641.133333,1.0

In [9]:
#Excluindo os valores ausentes: 

df_row_dropna = df.dropna(subset=['user_residence'], axis = 0)

df_row_dropna.head()

,user_gender,user_birthdate,user_residence,ride_date,time_start,time_end,station_start,station_end,ride_duration,ride_late
1,M,1989-02-11,DF,2018-01-01,06:27:01,06:32:17,26 - Ministério da Saude,28 - CNMP - Conselho Nacional do Ministério Pú...,5.266667,0.0
4,M,1969-03-03,DF,2018-01-01,06:58:56,17:40:04,15 - Brasil 21,11 - Rodoviária 2,641.133333,1.0
7,M,1994-11-19,DF,2018-01-01,07:17:34,07:25:05,5 - Setor Hoteleiro Norte,10 - Ministério dos Transportes,7.516667,0.0
10,M,1995-08-26,DF,2018-01-01,07:31:59,08:15:24,2 - Praça Buriti,14 - Brasília Shopping,43.416667,0.0
12,F,1993-02-14,DF,2018-01-01,08:14:49,08:38:05,8 - Ministério da Defesa,4 - Torre de TV,23.266667,0.0

**PREENCHER VALORES**
ESTA PROVAVELMENTE É A MELHOR OPÇÃO PARA SE TRABALHAR COM VALORES AUSENTES, POIS NOS PERMITE MANTER OS DADOS DAS OUTRAS CÉLULAS. POIS AQUI PODEMOS SUBSTITUIR OS VALORES AUSENTES, **ESSA SUBSTITUIÇÃO VAI DEPENDER DA ESTRUTURA E DA FINALIDADE DO NOSSO DATASET.**

In [13]:
#Neste exemplo iremos substituir os valores ausentes em ride_duration pela mediana dos outros valores
#...nos permitindo assim, tem um valor aproximado. **ESSA APLICAÇÃO É UMA BOA OPÇÃO PARA ESSE DATASET EM QUESTÃO.**
ride_duration_median=df.ride_duration.median()
df.ride_duration.fillna(ride_duration_median, inplace=True)

#Ver a quantidade de valores ausentes.
df.ride_duration.isnull().sum()

0

**QUANDO NOS TEMOS UMA COLUNA CATEGÓRICA, PODEMOS UTILIZAR O VALOR QUE APARECE DE FORMA MAIS FREQUENTE NO NOSSO DATASET E USAR ELE PÁRA PREENCHER OS DEMAIS VALORES**

In [17]:
df.user_gender.value_counts()
#O valor M é o que mais aparece em nossa coluna de genero, então:

M    212608
F     74318
Name: user_gender, dtype: int64

In [19]:
#Ver a quantidade de valores ausentes.
df.user_gender.isnull().sum()

396

In [20]:
#Substituindo valores nulos por M
df.user_gender.fillna('M',inplace=True)

#Visualizando valores nulos
df.user_gender.isnull().sum()

0